@use "variables.module.scss" as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$base-font-family;
  font-weight: 400;
  font-size: variables.$base-font-size;
  background-color: variables.$neutral-200;
  color: variables.$primary-dark;
}
