@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// colors
$primary-light: #2DBF17;
$primary-dark: #15590B;
$secondary: #F23A29;
$neutral-100: #F2F2F2;
$neutral-200: #DFE2DF;
$neutral-700: #494949;
$neutral-900: #0D0D0D;

// font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// font-family
$base-font-family: 'Raleway', sans-serif;