@use "variables.module.scss" as v;


.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    

    .homeLink {
        text-decoration: none;
        color: v.$secondary;
        margin-top: 1rem;
    }

    .homeLink:hover {
        font-weight: bold;
    }
}

.formWrapper {
    background-color: v.$neutral-100;
    padding: 2rem;
    border: 2px solid v.$neutral-700;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
        
    label {
        margin-bottom: 0.5rem;
        font-size: v.$font-size-lg;
    }

    input {
        padding: 0.5rem;
        border-radius: 5px;
    }

    p {
        font-size: v.$font-size-sm;
        color: v.$secondary;
        display: none;
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;

        button {
            padding: 0.5rem 1rem;
            font-size: v.$base-font-size;
            border: none;
        }

        .submitButton {
            background-color: v.$primary-dark;
            color: v.$neutral-200;
        }
    }

    }
    
.instructions {
   
    color: v.$neutral-700;
    padding: 0 3rem;
    margin-bottom: 2rem;

    p {
        margin-bottom: 1rem;
    }
}
    
.messageBoxWrapper {
    
    background-color: v.$neutral-100;
    padding: 2rem;
    border: 2px solid v.$neutral-700;
    border-radius: 15px;
    color: v.$primary-dark;
   

    .messageBox__link {
        display: inline-block;
        background-color: v.$primary-dark;
        padding: .5rem 1rem;
        margin: 2rem auto 0 auto;
        color: v.$neutral-100;
        text-decoration: none;
    }

    button {
        border: none;
    }
}

