@use "variables.module.scss" as v;

.wrapper {
    text-align: center;
    
    a {
    text-decoration: none;
    color: v.$neutral-900;
    }
 
    .seeChatRoomsBtn {
        color: v.$neutral-100;
        display: block;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: v.$primary-dark;

        &:hover {
            background-color: v.$primary-light;
        }
    }
    

    .listWrapper {
        background-color: v.$neutral-100;
        border-radius: 10px;
        box-shadow: 0px 0px 5px v.$neutral-300;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 1rem;
    
        ul {
            list-style-type: none;
            padding: 1rem;
            max-width: 350px;
            max-height: 300px;
            overflow-y: scroll;
            margin: 0;
            margin-bottom: 1rem;
            width: 100%;
    
            .roomInfo {
                background-color: v.$neutral-200;
                border: 2px solid v.$primary-light;
                border-radius: 15px;
                margin-top: 0.5rem;
                
                &:hover {
                    box-shadow: 0px 0px 10px v.$neutral-500;
                }

                a {
                    display: block;
                    padding: 1rem;
                }
            }
        }
        
        .buttonContainer {
            display: flex;
            gap: 2rem;
            margin-bottom: 1rem;

            button {
               color: v.$primary-dark;
               background-color: v.$neutral-100;
               border: 2px solid v.$primary-dark;
               border-radius: 10px;
               padding: 0.5rem 1rem;

               &:hover {
                font-weight: bold;
               }
            }

            .createChatBtn{
                color: v.$neutral-100;
                display: block;
                border-radius: 10px;
                padding: 0.5rem 1rem;
                background-color: v.$primary-dark;
    
                &:hover {
                    background-color: v.$primary-light;
                }
            }
        }
            
        }
    
        a.homeLink {
            display: block;
            color: v.$secondary;
            margin-top: 2rem;
    
            &:hover {
                font-weight: bold;
            }
        }


}



