@use "variables.module.scss" as v;

.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    gap: 3rem;
    margin-top: 3rem;
}

.formWrapper {
    background-color: v.$neutral-100;
    padding: 2rem;
    border: 2px solid v.$neutral-700;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
        
    label {
        margin-bottom: 0.5rem;
        font-size: v.$font-size-lg;
    }

    input {
        padding: 0.5rem;
        border-radius: 5px;
    }

    p {
        font-size: v.$font-size-sm;
        color: v.$secondary;
        display: none;
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;

        button {
            padding: 0.5rem 1rem;
            font-size: v.$base-font-size;
            border: none;
        }

        .submitButton {
            background-color: v.$primary-dark;
            color: v.$neutral-200;
        }
    }

    }
    
.instructions {
    margin-top: 2rem;
    color: v.$neutral-700;

    p {
        margin-bottom: 1rem;
    }
}
    


.successWrapper {
    background-color: v.$neutral-100;
    padding: 2rem;
    border: 2px solid v.$primary-light;
    border-radius: 15px;
    
    p{
        color: v.$primary-dark;
    }

    button {
        padding: .5rem 1rem;
        background-color: v.$primary-light;
        border: none;
        border-radius: 5px;
        margin-top: 1.5rem;
        font-size: v.$base-font-size;
    }
}

.failureWrapper {
    background-color: v.$neutral-100;
    padding: 2rem;
    border: 2px solid v.$secondary;
    border-radius: 15px;
    
    p {
        color: v.$secondary;
    }

    button {
        padding: .5rem 1rem;
        background-color: v.$secondary;
        color: v.$neutral-100;
        border: none;
        border-radius: 5px;
        margin-top: 1.5rem;
        font-size: v.$base-font-size;
    }
}

.hide {
    display: none;
}