@use "variables.module.scss" as v;

.introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: v.$neutral-500;
    font-size: v.$base-font-size * 1.1;
    gap: .5rem;
}