@use '@/styles/Variables.module.scss' as variables;

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: variables.$neutral-100;
}

.loader {
  border: 16px solid variables.$neutral-200;
  border-radius: 50%;
  border-top: 16px solid variables.$primary-light;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
